<?xml version="1.0"?>
<launch>

  <arg name="ns" default="" />

  <arg name="add_gripper" default="false" />
  <arg name="add_vacuum_gripper" default="false" />
  <arg name="add_other_geometry" default="false"/>
  <arg name="geometry_type" default="box"/>
  <arg name="geometry_mass" default="0.1"/>
  <arg name="geometry_height" default="0.1"/>
  <arg name="geometry_radius" default="0.1"/>
  <arg name="geometry_length" default="0.1"/>
  <arg name="geometry_width" default="0.1"/>
  <arg name="geometry_mesh_filename" default=""/>
  <arg name="geometry_mesh_origin_xyz" default="'0 0 0'"/>
  <arg name="geometry_mesh_origin_rpy" default="'0 0 0'"/>
  <arg name="geometry_mesh_tcp_xyz" default="'0 0 0'"/>
  <arg name="geometry_mesh_tcp_rpy" default="'0 0 0'"/>
  
  <arg name="run_demo" default="false" doc="If true, perform the demo after launch"/>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="effort_control" default="false"/>
  
  <arg name="velocity_control" default="false"/>
  <arg name="namespace" default="ufactory"/>
  
  <arg name="xarm_velocity_control" value="$(eval arg('velocity_control') and not arg('run_demo'))" />
  
  <rosparam file="$(find lite6_moveit_config)/config/lite6_params.yaml" command="load" ns="$(arg namespace)"/>
  <rosparam if="$(arg add_gripper)" file="$(find xarm_controller)/config/gripper_gazebo_ros_control.yaml" command="load"/>
  
  <!-- this remap must appear BEFORE move_group launch -->
  <arg name="uf_traj_controller" value="$(eval 'lite6_traj_controller_velocity' if arg('velocity_control') else 'lite6_traj_controller')" />
  <remap from="/follow_joint_trajectory" to="/$(arg namespace)/$(arg uf_traj_controller)/follow_joint_trajectory"/>

  <remap from="$(arg ns)/source_list" to="/source_list" />
  <include file="$(find lite6_moveit_config)/launch/moveit_rviz_common.launch">
    <arg name="jnt_stat_source" value="[move_group/fake_controller_joint_states]" />
    <!-- option to launch move_group node or not -->
    <arg name="load_move_group" value="true" />
    <!-- whether to use fake_execution controller to drive the motion -->
    <arg name="fake_execution" value="false" />
    <arg name="add_gripper" default="$(arg add_gripper)" />
    <arg name="add_vacuum_gripper" default="$(arg add_vacuum_gripper)" />
    <arg name="add_other_geometry" default="$(arg add_other_geometry)"/>
    <arg name="geometry_type" default="$(arg geometry_type)"/>
    <arg name="geometry_mass" default="$(arg geometry_mass)"/>
    <arg name="geometry_height" default="$(arg geometry_height)"/>
    <arg name="geometry_radius" default="$(arg geometry_radius)"/>
    <arg name="geometry_length" default="$(arg geometry_length)"/>
    <arg name="geometry_width" default="$(arg geometry_width)"/>
    <arg name="geometry_mesh_filename" default="$(arg geometry_mesh_filename)"/>
    <arg name="geometry_mesh_origin_xyz" default="$(arg geometry_mesh_origin_xyz)"/>
    <arg name="geometry_mesh_origin_rpy" default="$(arg geometry_mesh_origin_rpy)"/>
    <arg name="geometry_mesh_tcp_xyz" default="$(arg geometry_mesh_tcp_xyz)"/>
    <arg name="geometry_mesh_tcp_rpy" default="$(arg geometry_mesh_tcp_rpy)"/>
  </include>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find xarm_gazebo)/worlds/xarm_example1_table.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server, joint limit may be overwritten if use moveit planner -->
  <param name="robot_description" command="$(find xacro)/xacro
    --inorder '$(find xarm_description)/urdf/lite6_robot.urdf.xacro' ros_namespace:=$(arg namespace) add_gripper:=$(arg add_gripper) add_vacuum_gripper:=$(arg add_vacuum_gripper) effort_control:=$(arg effort_control) velocity_control:=$(arg velocity_control)" />

  <!-- spawn robot model in gazebo, located on the table -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
    respawn="false" output="screen"
    args="-urdf -model lite6 -x -0.2 -y -0.5 -z 1.021 -Y 1.571 -param robot_description"/>

  <!-- load the corresponding controllers -->
  <include file="$(find xarm_controller)/launch/lite6_control.launch">
    <arg name="run_demo_traj" value="$(arg run_demo)"/>
    <arg name="effort_control" value="$(arg effort_control)"/>
    <arg name="velocity_control" value="$(arg velocity_control)"/>
    <arg name="add_gripper" value="$(arg add_gripper)" />
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true"/>
  

  


</launch>
